<body>
    <div class="container">
        <div>
            <h2>About us!</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus minus ipsum impedit aliquam fugiat laudantium soluta, eos, quis, omnis harum provident quia. Ipsa aspernatur quaerat omnis modi iure temporibus sequi incidunt aperiam soluta nisi voluptate explicabo, impedit nihil ea, aliquam molestias corrupti sapiente quo ullam consequatur doloribus perferendis! Ipsam, nisi?</p>
            <h2>Contact</h2>
            <p>Phone number: 111 111 111</p>
            <p>Adress: Street 11/22</p>
            <p>Country 000-000</p>
        </div>
        <div>
            <h2>Find us here!</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2393.7568195857575!2d23.15873155155984!3d53.13251079830885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ffda11a7c13bd%3A0xac02f574f9a229f6!2sCofix!5e0!3m2!1spl!2spl!4v1674415231992!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</body>