<div class="topnav">
    <div class = "logo">
        <h1>Super Restaurant</h1>
    </div>
    <div class = "links">
        <a routerLink="main">About</a>
        <a routerLink="dishes">Dishes</a>
        <a routerLink="create" [ngStyle]="{'display' : isAdmin() ? 'block' : 'none'}">Create</a>
        <a routerLink="orders" [ngStyle]="{'display' : isLoggedIn() ? 'block' : 'none'}">Order History</a>
        <a routerLink="privileges" [ngStyle]="{'display' : isAdmin() ? 'block' : 'none'}">Permissions</a>
    </div>
    <div id="welcome">
        <span [ngStyle]="{'display' : isLoggedIn() ? 'block' : 'none'}">Welcome {{getMail()}}</span>
    </div>
    <div class = "buttons">
        <button class = "login" routerLink="login" [ngStyle]="{'display' : !isLoggedIn() ? 'block' : 'none'}"> LOG IN</button>
        <button class = "login" (click)="logOut()" [ngStyle]="{'display' : isLoggedIn() ? 'block' : 'none'}"> LOG OUT</button>
    </div>
  </div>

<router-outlet></router-outlet>
